body {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: black;
}

.page {
    min-width: 1280px;
    width: 1280px;
    font-family: 'PT Sans', sans-serif;
    margin: 61px 100px;
}


.logo {
    color:  #000000;
    font-size: 80px;
    font-weight: 400;
    text-decoration: none;
}

.logoBlue {
    color:  #4bcaff;
    
}

.navBar {
    background-color: #35444f;
    width: 100%;
    height: 69px;
    margin-top: 45px;
    display: flex;
    justify-content: center;
}

.navBar a {
    display: flex;
    align-items: center;
    color:  #ffffff;
    font-size: 24px;
    height: 100%;
    font-weight: 400;
    padding: 0 41px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    transition: all 200ms;
}

.navBar a:hover {
    background-color:  #222f3a;
    border-left: 1px solid #818181;
    border-right: 1px solid #818181;
}

.content {
    display: flex;
    margin-top: 51px;
}

.leftMenu {
    width: 344px;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid black;
    flex-shrink: 0;
    height: fit-content;
}

.leftMenu li {
    height: 81px;
    color:  #495863;
    font-size: 27px;
    font-weight: 400;
    display: flex;
    align-items: center;
    padding: 0 42px;
    transition: all 200ms;
}

.leftMenu li:hover {
    color:  #000000;
    padding-left: 69px; 
    background-color: #D9D9D9;
}

.rightContent {
    margin-left: 53px;
}

.imgContent {
    display: flex;
    width: 100%;
    height: 529px;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin-bottom: 50px;
}

.imgContent:hover img {
    transform: scale(1.2);
}

img {
    width: 320px;
    height: 381px;
    transition: transform 300ms;
}

.rightContent p {
    margin: 0 35px 30px 30px;
    color:  #2c2b2b;
    font-size: 18px;
    font-weight: 400;
}

.bottomNavigation {
    width: 100%;
    height: 69px;
    background-color:#B3B6B9;
    display: flex;
    align-items: center;
    padding: 0 44px;
    font-weight: 400;
    box-sizing: border-box;
}

.bottomNavigation nav {
    color:  #0c1927;
    font-size: 28px;
}

.bottomNavigation nav a {
    margin-right: 10px;
}

.bottomNavigation nav a:hover {
    color:  #3181a6;
    text-decoration: underline;
}

.bottomNavigation span {
    color:  #010000;
    font-size: 24px;
    margin-left: auto;
}